rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /weather/{locationId}/hourly/{hour} {
      allow read: if true;
    }

    match /locations/{locationId} {
      allow read: if true;
    }
  }
}