rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /weather/{city}/districts/{district}/hourly/{hour}/data {
      allow read: if true;
    }
    match /locations/{city}/districts/{district} {
      allow read: if true;
    }
  }
}
